* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
}    

h1 {
    background: rgb(130, 234, 241);
    color: rgb(54, 54, 54);
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    padding-left: 60px;
    padding-right: 10px;
    margin: 20px 0px;
}

header > nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 120px;
}

header a {
    border-bottom: 3px solid;
    text-decoration: none;
    color: rgb(130, 234, 241);
    padding: 8px;
    margin: 30px 0 10px 10px;
}

body > figure {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

h3 {
    background: rgb(130, 234, 241);
    color: rgb(54, 54, 54);
    position: absolute;
    top: 220px;
    padding: 5px;
    font-size: 40px;
    margin-right: 120px;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 80px;
}

section {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(74, 100, 185);
}

h2 {
    text-align: right;
    width: 200px;
    font-size: 50px;
    border-right: 3px solid;
    padding-right: 20px;
    margin: 10px 30px 0px 0px;
}

.img, article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px;
    margin: 10px 30px 0px 0px;
}

.img > figure {
    margin-top: 6px;
}

.card1 {
    display: inline-block;
    position: relative;
    height: 306px;
    border: 3px rgb(130, 234, 241) solid;
    color: rgb(54, 54, 54);
}

.card1 img, .card2 img {
    filter: brightness(70%);
}

img:hover {
    filter: brightness(100%);
}

.card1 header, .card2 header {
    position: absolute;
    bottom: 10px;
    background: rgb(130, 234, 241);
    padding: 3px;
}

.card2 {
    display: inline-block;
    position: relative;
    height: 106px;
    border: 3px rgb(130, 234, 241) solid;
    color: rgb(54, 54, 54);
}

section nav {
    width: 980px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

section a {
    color: rgb(74, 100, 185);
    border-bottom: 3px solid;
    text-decoration: none;
    padding: 5px;
}

footer {
    height: 20px;
}

@media screen and (max-width: 992px) {
    body > header {
        flex-direction: column;
    }

    h1 {
        justify-content: center;
        margin: 0 0;
        padding: 0 0;
    }

    header > nav {
        justify-content: center;
        margin: 0 0;
    }

    header a {
        margin: 10px 5px;
    }

    body > figure {
        justify-content: center;
    }
    
    h3 {
        margin-right: 0px;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    section {
        flex-direction: column;
    }
    
    h2 {
        text-align: left;
        width: 100%;
        border-right: none;
        border-bottom: 3px solid;
    }
    
    section nav {
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        margin-top: 10px;
    }
    
    section a {
        margin: 5px 0;
    }
}
